name: CI

on:
  push:
    branches: [ "main", "dev", "feature/*" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"
        
    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        
    - name: Configure Poetry
      run: poetry config virtualenvs.create true
        
    - name: Install dependencies
      run: poetry install
      
    - name: Run Ruff (Linting)
      run: poetry run ruff check .
      
    - name: Run Black (Formatting)
      run: poetry run black --check .
      
    - name: Run Tests
      run: poetry run pytest
